
<%- include('./header.ejs') %>
<%- include('./sidePannel.ejs') %>   
<main class="main-wrap">



    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"></div> <!-- Empty column for spacing -->
                <div class="col-md-4 text-center">
                    <h3>Products</h3>
                </div>
                <div class="col-md-4 text-right">
                    <form action="/admin/product/addProduct" method="get">
                        <button class="btn btn-md rounded font-sm">
                            ADD PRODUCT
                        </button>
                    </form>
                </div>
            </div>
            <% if (errorMsg) { %>
                <h4 style="text-align: center; color: #e74c3c;"><%=   errorMsg   %></h4>
            <% } %>
            <% if (successMsg) { %>
                <h4 style="text-align: center; color: #2ecc71;"><%= successMsg %></h4>
            <% } %>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
           
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <img src="/productImages/1726109002681.jpg" alt="Test image"> -->
                         <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">description</th> 
                        <th scope="col">mrp</th>  

                        <th scope="col">Offer Price</th>  

                        <th scope="col">Category</th>  

                        <th scope="col">Stock</th>  
                       
                        
                        <th scope="col" >  </th>
                        <th scope="col" >Soft delete  </th>

                        <th scope="col" > edit </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                    <tr> 
                      
            
                        <td>
                            <!-- Display the first image from the product's images array -->
                            <img src="<%= product.image[0]  %>" alt="Product Image" style="width: 100px; height: auto;">
                        </td>
                        <td><b><%= product.name %></b></td>
                        <td><b><%= product.description %></b></td>
                        <td><b><%= product.mrp %></b></td>
                        <td><b><%= product.offerPrice %></b></td>
                        <td><b><%= product.category.name%></b></td>
                        <td><b><%= product.stock %></b></td>
                        <td>
                            <span  class="badge <%= product.is_active === 1 ? 'alert-success' : 'alert-warning' %>">
                                <!-- if user is active show active and if not show blocked  -->
                                <%= product.is_active === 1 ? 'listed' : 'unlisted' %> 
                            </span>
                        </td>
                        <td>
                            <form action="/admin/product/<%= product._id %>" method="POST">
                                <button class="btn btn-md rounded font-sm">
                                    <%= product.is_active === 1 ? 'unlist ' : 'list ' %>
                                </button>
                            </form>

                        </td>

                        <td>
                            <form action="/admin/product/edit/<%= product._id %>", method="get" >
                                <button class="btn btn-md rounded font-sm">
                                  edit
                                </button>
                            </form>
                        </td>

                    
                    </tr>




                        <% }); %>
                   
                </tbody>
            </table>
         <!-- table-responsive //end -->
        </div>
    <!-- card-body end// -->
    </div>
</main>
 <script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
 <script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
 <script src="/admin/js/vendors/select2.min.js"></script>
 <script src="/admin/js/vendors/perfect-scrollbar.js"></script>
 <script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
 <script src="/admin/js/vendors/chart.js"></script>
 <!-- Main Script -->
 <script src="/admin/js/main.js" type="text/javascript"></script>
 <script src="/admin/js/custom-chart.js" type="text/javascript"></script>

</body>

</html>