<%- include('./header.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
   
    var successMessage = '<%= success %>';
  var errorMessage='<%= error %>'

    if (successMessage) {
      Swal.fire({
        toast: true,
        icon: 'success',
        title: successMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }
    if (errorMessage) {
      Swal.fire({
        toast: true,
        icon: 'warning',
        title: errorMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }

  </script>
  
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
             
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4" >
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/accountDetails" ><i class="fi-rs-user mr-10"></i>Account details</a>                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="/orders" ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="/address"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="/wallet"><i class="fas fa-wallet mr-10"></i></i>Wallet</a>
                                  </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="confirmLogout()"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                               

                            </div>
                        </div>








                        <!-- <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                              <div id="address" role="tabpanel" aria-labelledby="address-tab">
                                <div class="row">
                                  <%  %>
                                  
                                     
                                      <div class="col-lg-12">
                                        <div class="card mb-3 mb-lg-0">
                                          <div class="card-header">
                                            <h5 class="mb-0"> df</h5>
                                          </div>
                                          <div class="card-body">
                                            <address>
                                             sfdg<br>
                                            sdfg <br>
                                             fd <br>
                                             sfd
                                            </address>
                                            <p>sfd</p>
                                            <p>Phone:sfd</p>
                                          
                                            <a class="btn-small" style="margin-left: 55%; color: red;" onclick=>cancel</a>
                                          </div>
                                        </div>
                                      </div>
                                    
                             
                                   
                                </div>
                              </div>
                            </div>
                          </div> -->

                          <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                              <div id="order-summary" role="tabpanel" aria-labelledby="order-summary-tab">
                                <div class="row">
                                  <% if(!orders || orders.length === 0){ %>
                                    <p> you dont any orders yet </p>
                      <% } %>
                          
                                  <!-- Loop through all orders -->
                                  <% orders.forEach(order => { %>
                                  <div class="col-lg-12"  id="order_<%= order._id %>">
                                    <div class="card mb-3 mb-lg-0">
                                      <div class="card-header"  style="display: flex; justify-content: space-between; align-items: center;">

                                        <h5 >Order ID: <%= order.orderId %></h5> 
                                        <p> <%= new Date(order.orderDate).toLocaleDateString() %></p>

                                        
                                      </div>
                                      <div class="card-body">
                                        <% if(order.paymentStatus=="completed"){ %>
                                          <button type="submit" style="margin-left: 25%;display: none; " class="button" onclick="window.open('/downloadInvoice/<%=order._id %>','_self') "  >Download invoice</button>
                                               <% } %>
                                       <div style="display: flex; justify-content: space-between;">
                                        <% if (order.orderStatus=='cancelled') {%>
                                          <p class="order-status" style="color: red;"><b><%= order.orderStatus.toUpperCase() %></b></p>
                                        
                                   <%   }else{%>
                                      <p class="order-status" style="color: rgb(57, 10, 96);"><b><%= order.orderStatus.toUpperCase() %></b></p>
                                      <%   }%>
                                      <button onclick="window.open('/orderDetails/<%=order.orderId %>','_self') "   style="background-color: #088178; color: white; border: none; padding: 5px 15px; 
                                      cursor: pointer; border-radius: 5px; font-size: 14px; height: 30px; line-height: 1;">
                                          Order Details
                                      </button>
                                                          </div>
                                        <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th>Product Name</th>
                                              <th>size</th>
                                              <th>Quantity</th>
                                              <th>MRP</th>
                                              <th>Offer Price</th>
                                              <th>Total</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% order.products.forEach(product => { %>
                                            <tr>
                                              <td><b><a href="/product/<%= product.productId._id %>" style="text-decoration: none; color: rgb(10, 46, 117);"><%= product.name %></a></b></td>
                                              <td><%= product.size %></td>

                                              <td><%= product.quantity %></td>
                                              <td><%= product.mrp %></td>
                                              <% if( product.offerPrice==null){ %>
                                          <td><%= product.mrp %></td>
                                              <% }else{ %>
                                                <td><%= product.offerPrice %></td>
                                                <% } %>
                                              <td><%= product.total %></td>
                                            </tr>
                                            <% }) %>
                                          </tbody>
                                        </table>
                          
                                        <!-- Order Total -->
                                        <% if(order.appliedCoupon!=null){ %>
                                          <span class="grand-total">coupon applied: <%= order.appliedCoupon %></span> <br>
                                          <span class="grand-total">coupon discount: <%= order.couponDiscount %></span>
                                       <% } %>  
                                         <div  style="display: flex; justify-content: space-between; align-items: center;">
                                         
                                            <h5><strong>Grand Total: </strong> <%= order.orderTotal %></h5> 
                                            

                                         </div>
                                        
                          
                                      </div>
                                    </div>
                                  </div>
                                  <% }) %>
                          
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          
                          




                       
                    </div>
                </div>
            </div>
        </div>
    </section>


   
</main><%- include('./footer.ejs') %>