<%- include('./header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- style for the count add and decrement -->
<style>
    .quantity-input {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    justify-content: space-between;
    padding: 5px;
}

.quantity-input a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.qty-val {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.qty-up i,
.qty-down i {
    font-size: 12px;
    color: #333;
}

.qty-up i:hover,
.qty-down i:hover {
    color: #000;
}



.radio-container {
    display: flex;
    flex-direction: row;  /* Change to row to align items in a line */
    align-items: center; /* Center the radio button vertically */
}

.small-radio {
    width: 15px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    margin-right: 5px; /* Space between the radio button and label */
}



.radio-container {
    display: flex;
    align-items: center; /* Align radio button and label text in a line */
    margin-right: 10px; /* Space between each payment method option */
}

.small-radio {
    width: auto; /* Default radio button size */
    height: auto; /* Default radio button size */
    margin-right: 8px; /* Space between radio button and label */
}

.payment-method-container {
    display: flex;
    flex-direction: row; /* Align radio buttons horizontally */
    gap: 15px; /* Space between payment methods */
    justify-content: flex-start; /* Align them to the start of the container */
}

.radio-label {
    display: flex;
    align-items: center; /* Align radio button and text vertically */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 14px; /* Adjust font size for a compact look */
}

.radio-label h5 {
    margin: 0; /* Remove margin */
    font-size: 14px; /* Smaller font size for label */
    color: #333; /* Text color */
}


</style>

<script>
   
    var successMessage = '<%= success %>';
  var errorMessage='<%= error %>'

    if (successMessage) {
      Swal.fire({
        toast: true,
        icon: 'success',
        title: successMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }
    if (errorMessage) {
      Swal.fire({
        toast: true,
        icon: 'warning',
        title: errorMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }


    
    function confirmDelete(addressId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/checkOutDeleteAddress/' + addressId;
      }
    });
  }

</script>



<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
               <a href="/shop"> <span></span> Shop</a>
              
                <span></span> checkout 
            </div>
        </div>
    </div>
   
    <section class="mt-1 mb-50 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 mb-4">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                          
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">size</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">offerprice</th>
                                    <th scope="col">Quantity</th>
                               
                              
                                </tr>
                            </thead>
                            <tbody>
                               
                                  
                              
                                
                                <tr>
                                    <td class="image product-thumbnail"><img src="<%= product.image[0] %>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6 class="product-name " ><a href="/product/<%= product._id %>"  style="text-decoration: none;"><%= product.name %></a></h6>
                                        <p class="font-xs">
                                        </p>
                                        <p class="font-xs" style="color: green;">stock left:<%= quantity %>
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span><%= size %></span></td>

                                    <td class="price" data-title="Price"><span>₹<%= product.mrp %></span></td>
                                    <% if(product.offerIsActive==1){ %>
                                    <td class="price" data-title="Price"><span>₹<%= product.offerPrice %></span></td>
                                    <% }else{ %>
                                        <td class="price" data-title="Price"><span>NO ACTIVE OFFERS</span></td>

                                        <% } %>
                                    <td class="text-center" data-title="Stock">
                                       
                                        <div class="quantity-input">
                                          
                                                <i class="fi-rs-angle-small-up"  onclick="up('<%= quantity %>')"></i>
                                            
                                            <span class="qty-val" id="count">1</span>
                                          
                                                <i class="fi-rs-angle-small-down"   onclick="down()"></i>
                                        
                                        </div>
                                        
                                    </td>
                                    
                                   
                                </tr>
                               
                        
                            </tbody>
                            
                        </table>
                      
                    </div>
                    
                    
                    <div>
                        <div class="col-md-12">
                            <div class="tab-content dashboard-content">
                              <div id="address" role="tabpanel" aria-labelledby="address-tab">
                                <div class="row">
                                  <% if (addresses.length > 0) { %>
                                    <% addresses.forEach((address)=> { %>
                                       
                                      <!-- Display each address in a separate card -->
                                      <div class="col-lg-4">
                                        
                                        <div class="card mb-3 mb-lg-0">
                                            
                                            
                                          <div class="card-header" >
                                            <div class="radio-container">
                                                <input type="radio" id="address-<%= address._id %>" name="options" value="<%= address._id %>" class="small-radio" >
                                                <h5 class="mb-0"> <%= address.addressType %></h5>
                                            </div>
                                            
                                          </div>
                                          <div class="card-body">
                                            <address>
                                              <%= address.houseName %> <br>
                                              <%= address.street %> <br>
                                           
                                              <%= address.city %>, <%= address.state %>,<%= address.district %> <br> <%= address.zip %> <br>Phone: <%= address.mobile %>
                                            </address>
                                            <p></p>
                                            <p> </p>
                                            <a href="/singleCheckOutEditAddress/<%= address._id %>/<%= product._id %>/<%= size %>" class="btn-small" >Edit</a>
                                            
                                          </div>
                                      
                                        </div>
                                      </div>
                                    <% }) %>
                                  <% } else { %>
                                    <p>No addresses available. Please add a new address.</p>
                                  <% } %>
                                 
    
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="submit" class="button " onclick="window.open('/singleCheckOutAddAddress/<%= product._id%>/<%= size %>','_self') "  style="float: center; margin-top: 3%;margin-bottom: 10%; margin-left: 1%;"  >Add Address</button>
    
                       </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="border p-md-4 p-30 border-radius cart-totals">
                        <div class="heading_s1 mb-3">
                            <h4>Cart Overview</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Base Price </td>
                                        <td class="cart_total_amount" ><span class="font-lg fw-900 text-brand" id="totalPrice">₹<%= product.mrp   %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Savings</td>
                                      
                                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> <h5 style="color: brown;" id="discount"></h5></td>
                                    </tr>
                                    <tr>
                                      <td class="cart_total_label">Delivery charges</td>
                                      <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">₹40</span></strong></td>
                                  </tr>
                                    <tr>
                                        <td class="cart_total_label">Payable Amount</td>
                                        <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand" id="totalOfferPrice"></span></strong></td>
                                    </tr>
                                        <script>
                                            const mrpx = Number('<%= product.mrp %>'); // Convert MRP to number
                                                const offerPricex = Number('<%= product.offerPrice %>'); // Convert offer price to number
                                                const offerIsActivex = '<%= product.offerIsActive %>'; // Offer active status (1 or 0)

                                                let discount = 0;
                                                let payableAmount = mrpx;

                                                if (offerIsActivex == 1) {  // Check if the offer is active
                                                    discount = mrpx - offerPricex;
                                                    payableAmount = offerPricex;  // Set payable amount to offer price
                                                }
                                                discount >0? discount :0
                                                // Update the DOM elements
                                                document.getElementById('discount').textContent = `₹${discount > 0 ? discount : 0}`;
                                                document.getElementById('totalOfferPrice').textContent = `₹${payableAmount}`;

                                                document.getElementById('orderValue').value =payableAmount;
                                                document.getElementById('existingDiscount').value = discount; 

                                        </script>
                                   
                                </tbody>
                            </table>
                        </div>
                        <form id="couponForm" onsubmit="applyCoupon(event)" style="display: flex; align-items: center;">
                            <div class="form-group" style="margin-right: 10px;">
                                <label for="couponCode">Coupon Code</label>
                                <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Enter coupon code" required>
                            </div>
                         <input type="hidden"  id="couponPass"  value='null'>
                         <input type="hidden" id="orderValue" name="orderValue" value="">
                         <input type="hidden" id="existingDiscount" name="exixtingDiscount" value="">
                         
          <script>// the vatiable here is declared above where the prices shows according to offer price 
              
              document.getElementById('orderValue').value =payableAmount;
            document.getElementById('existingDiscount').value = discount; 
          </script>


                            <button type="submit" id="applyCouponBtn"   class="button" style="height: 30px; padding: 0 15px; font-size: 12px; white-space: nowrap; display: inline-block; text-align: center; margin-top: 15px;">
                                Apply Coupon
                            </button>
                          
                            <button type="button" id="removeCouponBtn" class="button" style="height: 30px; padding: 0 15px; font-size: 12px; white-space: nowrap; display: inline-block; text-align: center; margin-top: 15px; display: none;" onclick="removeCoupon()">
                              Remove Coupon
                          </button>
                        </form>


                        <h6 style="margin-top: 10%;">Select Payment Method</h6>
                        <p style="color: red;" id="noCod"></p>

                        <div class="payment-method-container" style="margin-top: 0%;">
                            <!-- Cash on Delivery option -->
                            <label class="radio-label">
                                <input type="radio" id="COD" name="paymentMethod" value="COD" class="small-radio" checked>
                                <div class="radio-checkmark"></div>
                                <h5 class="mb-0" id="codLabel">Cash on Delivery</h5>
                            </label>
                        
                            <!-- PayPal option -->
                            <label class="radio-label">
                                <input type="radio" id="paypal" name="paymentMethod" value="paypal" class="small-radio">
                                <div class="radio-checkmark"></div>
                                <h5 class="mb-0">PayPal</h5>
                            </label>

                            <label class="radio-label">
                              <input type="radio" id="wallet" name="paymentMethod" value="WALLET" class="small-radio">
                              <div class="radio-checkmark"></div>
                              <h5 class="mb-0">Wallet(₹<%= wallet.balance %>)</h5>
                          </label>
                        </div>
                     <br>


                        <button class="button" style="text-decoration: none; " onclick="order(event,'<%= product._id%>','<%= quantity%>')"> <i class="fi-rs-box-alt mr-10"></i>place Order</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>

// FOR SHOW IT ON RENDERING 
const totalAmount = parseInt(document.getElementById('totalOfferPrice').textContent.replace('₹', '').trim());
    
const deliveryCharge = 40;
 const payable = totalAmount + deliveryCharge;
    
    // Update the totalOfferPrice to include the delivery charge
 document.getElementById('totalOfferPrice').textContent = `₹${payable}`;



 function updateCodAvailability() {
      const totalAmount = parseInt(document.getElementById('totalOfferPrice').textContent.replace('₹', '').trim());
      
      console.log(totalAmount);  // Debugging

      if (totalAmount > 1000) {
        document.getElementById('COD').disabled = true;
        document.getElementById('COD').style.display = 'none';
        document.getElementById('codLabel').textContent = '';
        document.getElementById('noCod').textContent = 'COD unavailable for orders above ₹1000';
        document.getElementById('paypal').checked = true; 
      } else {
        document.getElementById('COD').disabled = false;
        document.getElementById('COD').style.display = 'flex'; 
        document.getElementById('codLabel').textContent = 'Cash on Delivery';
        document.getElementById('noCod').textContent = '';
      }
  


    }
    updateCodAvailability();

   
    let offerPrice = '<%= product.offerPrice %>';
    let mrp =' <%= product.mrp %>';               
    let size='<%= size%>';
    let offerIsActive = '<%= product.offerIsActive %>';

    function updatePrice() {
        const countElement = document.getElementById('count');
        let currentCount = parseInt(countElement.textContent);

        const totalPriceElement = document.getElementById('totalPrice');
        const discountElement = document.getElementById('discount');
        const totalOfferPriceElement = document.getElementById('totalOfferPrice');

        let totalPrice = mrp * currentCount;
    let totalOfferPrice = 0;
    let discount = 0;
  let deliveryCharge=40
    // Check if offer is active
    if (offerIsActive == 1) {
        totalOfferPrice = offerPrice * currentCount;
        discount = totalPrice - totalOfferPrice;
    } else {
        totalOfferPrice = totalPrice;
    }

    totalOfferPrice += deliveryCharge;

        // Update the DOM elements
        totalPriceElement.textContent = `₹${totalPrice}`;
        discountElement.textContent = `₹${discount}`;
        totalOfferPriceElement.textContent = `₹${totalOfferPrice}`;

        document.getElementById('orderValue').value =totalOfferPrice;
        document.getElementById('existingDiscount').value = discount; 
          
       const couponname= document.getElementById('couponPass').value
        if (couponname!='null') {
            applyCoupon(event);
        }
        updateCodAvailability();

    }

    function up(availableStock) {
        const countElement = document.getElementById('count');
        let currentCount = parseInt(countElement.textContent);
 
 
        if (currentCount < 5 && currentCount < availableStock) {
            currentCount++;
            countElement.textContent = currentCount;
            updatePrice();  // Update the prices
        } else {
            Swal.fire({
                toast: true,
                icon: 'warning',
                title: currentCount >= 5 ? 'Maximum limit is 5!' : 'Not enough stock available!',
                position: 'top',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        }
    }

    function down() {
        const countElement = document.getElementById('count');
        let currentCount = parseInt(countElement.textContent);

        if (currentCount > 1) {
            currentCount--;
            countElement.textContent = currentCount;
            updatePrice();  // Update the prices
        } else {
            Swal.fire({
                toast: true,
                icon: 'warning',
                title: 'Minimum quantity reached',
                position: 'top',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        }
    }
    function order(event,productId,quantity){


       const  selectedAddress = document.querySelector('input[name="options"]:checked');
        const couponCode=document.getElementById('couponPass').value
        const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');

        if (quantity==0) {
           event.preventDefault()
            Swal.fire({
        toast: true,
        icon: 'warning',
        title:'product/size you selected  not available ',
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });

        }else  if (!selectedAddress) {
            Swal.fire({
        toast: true,
        icon: 'warning',
        title:'please select an address to proceed',
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
        }
        else {
            event.preventDefault();
     const count=parseInt(document.getElementById('count').textContent) ;
const selectedAddressvalue=selectedAddress.value  
const payment=selectedPaymentMethod.value;

     window.location.href=`/singleProductOrder/${productId}/${count}/${selectedAddressvalue}/${size}/${couponCode}/${payment}`

        }
    }


// apply coupons 
function applyCoupon(event){
      event.preventDefault()

const couponCode = document.getElementById('couponCode').value;
const orderValue = document.getElementById('orderValue').value;
const existingDiscount =document.getElementById('existingDiscount').value;

console.log("Coupon Code:", couponCode);
console.log("Order Value:", orderValue);
console.log("Existing Discount:", existingDiscount);

      fetch('/applyCouponSingleProduct', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({couponCode,orderValue,existingDiscount })  // Send the form data as json data
    })
 .then(response=>response.json())
    .then(data=>{
        if (data.success) {

          Swal.fire({
        toast: true,
        icon: 'success',
        title: data.message,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
          
      document.getElementById('couponPass').value=data.couponCode;

      document.getElementById('discount').innerText='₹-'+data.newTotalDiscount;
      document.getElementById('totalOfferPrice').innerText='₹'+data.finalPayableAmount;

      updateCodAvailability();
      //change button 
      document.getElementById('applyCouponBtn').style.display = 'none';
            document.getElementById('removeCouponBtn').style.display = 'inline-block';

        } else {

          Swal.fire({
        toast: true,
        icon: 'warning',
        title: data.message,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
        }
    }).catch(error=>{
        console.log(error);
     
        
    });


  

    }

    function removeCoupon() {
 
    fetch('/removeCouponSingleProduct', {
        method: 'get',
        headers: {
            'Content-Type': 'application/json'
        },
       
    })
 .then(response=>response.json())
    .then(data=>{
        if (data.success) {

          Swal.fire({
        toast: true,
        icon: 'success',
        title: 'coupon Removed',
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });

      
   
    document.getElementById('removeCouponBtn').style.display = 'none';
    document.getElementById('applyCouponBtn').style.display = 'inline-block';
    document.getElementById('couponPass').value='null';
 
    updatePrice()
   
   


        }
    }).catch(error=>{
        console.log(error);
     
        
    });

   
    }



</script>


<%- include('./footer.ejs') %>