<%- include('./header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   
    var successMessage = '<%= success %>';
  var errorMessage='<%= error %>'

    if (successMessage) {
      Swal.fire({
        toast: true,
        icon: 'success',
        title: successMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }
    if (errorMessage) {
      Swal.fire({
        toast: true,
        icon: 'warning',
        title: errorMessage,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer);
          toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
      });
    }


    
    function confirmDelete(wishlistId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href =`/removeFromwishlist/${wishlistId}`;
      }
    });
  }   

  </script>
  


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
               <a href="/shop"> <span></span> Shop</a>
              
                <span></span> Your wishlist
            </div>
        </div>
    </div>
    <section class="mt-1 mb-50 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <% if(wishlist.length==0)  { %>
                                <br><br><br><br><br><br><br>
                                <H1>wishlist is empty <a href="/shop">continue shoppin</a></H1>
                                <br><br><br><br><br><br><br>
                                    <%  }else{ %>
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">size</th>

                                    <th scope="col">Price</th>
                                
                                    <th scope="col">offerprice</th>
                                    
                                    <th scope="col">ADD TO CART</th>

                                    <th scope="col">Remove</th>

                                </tr>
                            </thead>
                            <tbody>
                               
                                  
                                <% wishlist.forEach(wishlist =>{ %>
                                
                                <tr>
                                    <td class="image product-thumbnail"><img src="<%= wishlist.product.image[0] %>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6 class="product-name " ><a href="/product/<%= wishlist.product._id %>"  style="text-decoration: none;"><%= wishlist.product.name %></a></h6>
                                        <p class="font-xs">
                                        </p>
                                       
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span><%= wishlist.size %></span></td>

                                    
                                    <td class="price" data-title="Price"><span>₹<%= wishlist.product.mrp %></span></td>
                                    <% if(wishlist.product.offerIsActive){ %>
                                      <td class="price" data-title="Price"><span>₹<%= wishlist.product.offerPrice %></span></td>
                                      <% }else{ %>
                                        <td class="price" data-title="Price"><span> Not Available </span></td>

                                    <% } %>
                                    
                                        <td>   <button type="submit" id="addToCart-<%= wishlist.product._id %>" style="height: 45px;" onclick="addToCart('<%= wishlist.product._id %>','<%= wishlist.size %>')" class="button button-add-to-cart">
                                          <%= wishlist.product.inCart== false ? 'Add To Cart' : 'Go To Cart' %>
                                      </button></td>
                                    
                                    <td class="action" data-title="Remove"><a onclick="confirmDelete('<%= wishlist._id %>')" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                               
                                <%})   %>
                            </tbody>
                        </table>
                        
                    </div>
                    <!-- <div class="wishlist-action text-end">
                     
                        <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div> -->
                    <!-- <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div> -->
                    
                </div>
             
            </div>
        </div>
    </section>
</main>
<% } %>
<%- include('./footer.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>

function addToCart(productId,size){
  
  console.log('the size is ',size);
  

fetch(`/addToCart/${productId}/${size}`,{
method: 'get',
headers: { 'X-Requested-With': 'XMLHttpRequest' }  
})
.then(response=>response.json())
.then(data=>{


if (data.error) {
window.location.href = '/login'
return
}

if (!data.exists) {
Swal.fire({
toast: true,
icon: 'success',
title: data.message,
position: 'top',
showConfirmButton: false,
timer: 3000,
timerProgressBar: true,
didOpen: (toast) => {
toast.addEventListener('mouseenter', Swal.stopTimer);
toast.addEventListener('mouseleave', Swal.resumeTimer);
}
});

document.getElementById(`addToCart-${productId}`).textContent='go to cart'
}else if(data.exists){

return  window.location.href = `/cart`
}   
})
.catch(error => alert('Error: ' + error.message));
}

</script>

